/*
	Put your custom CSS here.

	You may find these CSS3 properties useful:;
		transition
		-webkit-transform
		-webkit-transform-style
		-webkit-backface-visibility
*/

.portfolio-item {
	position: relative;
	-webkit-perspective: 200px;
}

.front {
	position: absolute;
}

.portfolio-item:hover {
	-webkit-transform-origin: left center;
	-webkit-transform-style: preserve-3d;
	-webkit-transform: translateX(100%) rotateY(180deg);
	-webkit-transition: transform 1s;
	-webkit-backface-visibility: hidden;
}

.portfolio-item:hover .back {
	-webkit-transform: rotateY(180deg);
	-webkit-backface-visibility: hidden;
}
